*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: 0.5s all;
}
body{
  color: var(--light-text);
  background-color: var(--light-background);
}
body.dark-mode{
  color: var(--dark-text);
  background: var(--dark-background);
}
:root {
  /* Dark Mode Colors */
  --dark-background: #0f0f0f;
  --dark-text: #FFFFFF;

  /* Light Mode Colors */
  --light-background: #FFFFFF;
  --light-text: #222222;

  /* Other colors (you can add more) */
  --primary-color: #0d6efd;
  --secondary-color: #2ECC40;
  --accent-color: #B10DC9;
}
